app-pismo {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
}

#scrollContainer {
  cursor: none !important;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1400px;
  margin: 24px;
  box-sizing: border-box;

  .mobile.extended {
    position: fixed;
    top : 10%;
    left : 5%;
    width : 90%;
    height : 80%;
    z-index : 1000;
    background-color : #fff;
  }

  .mobile:not(.extended) .ql-toolbar {
    display: none;
  }

  .mobile:not(.extended) .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-top: 1px solid #ccc;
  }
}

#writingArea {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  bottom: 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  & p, textarea {
    font-size: 17px;
  }
  & h1 {
    padding-bottom: 1rem;
  }

  & > #text-header {
    position: relative;
    width: 100%;
    top: 0;
  }

  & > #quill-input-container {
    display: flex;
    flex-grow: 1;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  & > #quill-input-container > #quill-input {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
  }

  & > #text-footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }
}

#bellsImage {
  position: absolute;
  top: 5%;
  right: 15%;
  width: 18%;
}

#saveButton {
  position: absolute;
  bottom: 12%;
  right: 15%;

  background-color: #ff4d4d;
  font-style: italic;
  font-size: 17px;
}


#all-page-remove-cursor {
  cursor: none !important;
  position: fixed;
  height: 100%;
  width:  100%;
  overflow: auto;
}

#quill {
  pointer-events: none;
  background: none !important;
  cursor: none !important;

  display: block;
  position: fixed;

  height: 200px;
  width:  200px;
  margin-top:  -200px;
  margin-left: -0px;

  top:50%;
  left:50%;

  & > img {
    display: block;
    width:  100%;
    height: 100%;
  }
}

/* Hide for mobile devices */
@media (pointer: coarse) {
  #quill {
    display: none;
  }
}
@media (hover: none) {
  #quill {
    display: none;
  }
}
