/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  padding: 0;
  margin: 0;
}

body, p, h1, h2, h3, textarea {
  font-family: Arial, sans-serif;
}

// Make placeholders display in italic
::-webkit-input-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
   font-style: italic;
}
