<h1 class="title">Pošiljanje sporočil udeležencu: <br />
  {{participant.name}} ({{participant.email}})</h1>

<br />
<p><strong>Opozorilo</strong></p>
<p>
  E-poštna sporočila morajo biti poslana v skupkih, ko je vsak udeleženec v skupini <br />
  opravil vse potrebne korake (npr. potrdil svoj e-naslov). <br /> 
  Pošiljanju posameznih e-poštnih sporočil se je potrebno izogniti, če je to le mogoče, <br />
  in jih pošiljati le v primeru težav pri napredku posameznih udeležencev.
</p>

<div>
  <button mat-raised-button (click)="sendSingleEmailValidation()"> 
    <mat-icon>mail_outline</mat-icon> Pošlji: Potrdilno sporočilo 
  </button>
  <button mat-raised-button (click)="sendSingleWishLink()"> 
    <mat-icon>mail_outline</mat-icon> Pošlji: Povezava za pismo 
  </button>
  <button mat-raised-button (click)="sendSingleTargetGiftMessage()">
    <mat-icon>mail_outline</mat-icon> Pošlji: Pismo prejemnika 
  </button>
</div>

<button mat-raised-button (click)="onCloseClick()"> Prekliči </button>
