<div style="margin: 5rem;">

  <h1>Darilni Mikser</h1>

  <p>
    Darilni Mikser je majhna specializirana spletna aplikacija, ki omogoča svojim uporabnikom igro Skrivnega Božička preko spleta.
    <br /><br />

    Za tiste, ki je morda ne poznate, Skrivni Božiček je skupinska igra podarjanja daril. V tej igri vsak igralec napiše svoje ime
    na list papirja in vsi ti listki se zberejo v skupno posodo. Vsak igralec nato iz posode izžreba naključen listek in njegova naloga je,
    da osebi, ketere ime je napisano na listku prinese darilo. <br />
    Ta igra močno olajša nakupovanje božičnih daril, še posebej za velike družine.

    <br /><br />
    Naša družina je rahlo razkropljena in tako je igranje te igre težavno.
    <br />
    Spletna aplikacija Darilni Mikser pa omogoča igranje te igre na daljavo in kot bonus garantira, da noben igralec ne izžreba sebe.

    <br /><br />
  </p>

  <h3>Navodila za uporabo aplikacije</h3>

  <p>
    En igralec izmed skupine služi dodatno kot administrator.<br />
    Njegova/njena naloga je, da zbere spletne poštne naslove in vodi igro skozi 3 korake:<br />
    1) Vsak igralec dobi potrditveno sporočilo, na katero le klikne, da s tem potrdi svoj spletni naslov.<br />
    2) Ko so vsi naslovi potrjeni, dobi vsak igralec povezavo na spletno stran kjer napiše božično pismo za svoje željeno božično darilo.<br />
    3) Ko vsi igralci napišejo svoja pisma, se ta pisma razpošljejo med igralce.<br />
    Administratorjeva vloga je, da skrbi, da vse poteka kot po maslu.
    <br /><br />

    In ne bojte se. Spletni naslovi in napisana pisma so zbrana le zavoljo te igre in mi nimamo nobenih zlih načrtov z njimi.
    Povrh tega, pa ima administrator možnost izbris vseh zbranih podatkov po koncu igre.<br />
    <br /><br />
    Le administrator naj se prijavi v našo aplikacijo.<br />
    Vsi ostali le veselo počakajte na nadaljne napotke na svojem spletnem poštnem računu :)
  </p>

  <button (click)="loginAdmin()">Prijava Administratorja</button>

</div>
