<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Darilo - napaka</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

    <h1>Nadzor nad darili</h1>
    <br />
    <br />
    <h1>Naslednje osebe so oddale svoje želje</h1>
    
		<table>
			<thead>
				<th>Uporabnik</th>
				<th>Oddal/a željo</th>
			</thead>
			<tbody>
				<tr *ngFor="let userWish of userWishesGiven">
					<td>{{userWish.user}}</td>
					<td>{{userWish.isWishMade}}</td>
				</tr>
			</tbody>
		</table>
    
    <br />
    <br />
    
    <button (click)="sendWishes()" [disabled]="!done">Odpošlji želje!</button>
    
</body>
</html>
