<div *ngIf="!loading && !sent">
  <h1 class="title">Pošiljanje sporočil</h1>

  <p><strong>Prejemniki</strong></p>
  <ul>
    <li *ngFor="let recipient of recipients"> {{recipient.name}} ({{recipient.email}})</li>
  </ul>

  <p>Poslano sporočilo: {{templateId}}</p>

  <br />
  <p><strong>Opozorilo</strong></p>
  <p>Ko so e-poštna sporočila poslana, jih ni mogoče več preklicati</p>
  <br />

  <button mat-raised-button (click)="sendEmails()"> Pošilji </button>
  <button mat-raised-button [mat-dialog-close]="false"> Prekliči </button>
</div>

<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && sent">
  <h1 class="title" *ngIf="success()">Uspeh</h1>
  <h1 class="title" *ngIf="! success()">Problem</h1>
  
  <p>
    Poslanih sporočil: {{sentMessages}} od {{recipients.length}}
  </p>
  <button mat-raised-button [mat-dialog-close]="true"> Ok </button>
</div>
