<h1 class="title">Osebne želje udeleženca: {{participant.name}}</h1>

<p><strong>Opozorilo</strong></p>
<p>
  Pogled v osebne želje in podatke udeležencev krši pravila igre. <br />
  Nadaljuj le, če je resnično potrebno.
</p>

<button mat-raised-button *ngIf="privateDataHidden" (click)="onCloseClick()"> Prekliči </button>
<button mat-raised-button *ngIf="privateDataHidden" (click)="privateDataHidden = false"> Nadaljuj </button>

<br />
<hr/>
<br />

<div *ngIf="!privateDataHidden">
  <p>Udeleženec: {{participant.name}}</p>
  <p>Koda: {{participantCode}}</p>
  <p>Povezava do lastnih želja: <br/>
     {{linkToWish}}</p>
  <p>Darilo bo dobil/a od: {{recieverFromName}}</p>
  <p>Darilo bo dal/a: {{giverToName}} </p>
  <br />
  <button mat-raised-button (click)="onCloseClick()"> Zaključi </button>
</div>
