
<div *ngIf="admin !== null">

  <div class="logged-in">
    <p>Prijavljen/a kot: <strong>{{authenticationService.user}}</strong></p>
    <button mat-raised-button (click)="logout()">Odjava</button>
  </div>


  <div class="margined">

    <h1>Administracija</h1>

    <app-participants [adminId]="admin.id"></app-participants>

    <br />


    <h2>Koraki Skrivnega božička</h2>


    <h3>(1) Potrdi udeležence</h3>
    <div class="half-pages">
      <!-- <mat-form-field>
        <mat-label>Predloga: Potrdilno sporočilo</mat-label>
        <textarea matInput
                  id="template-validation"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"></textarea>
      </mat-form-field> -->
      <div>
        <button mat-raised-button [class.already-done]="admin.alreadySentAllEmailValidation" (click)="sendAllEmailValidation()"> 
          <mat-icon>mail_outline</mat-icon> Pošlji vsem: Potrdilno sporočilo 
        </button>
        <mat-icon *ngIf="admin.alreadySentAllEmailValidation" class="check-circle">check_circle_outline</mat-icon>
      </div>
      <div>
          <h4>Vzorec</h4>
          <pre>
  Pozdravljen/a, Nusa!

  Organizator/ka: Nastja (nastja@email.si)
  te je povabil/a na sodelovanje v igri Skrivni Božiček.

  Če poznaš to osebo in želiš sodelovati v igri, prosimo klikni na naslednjo povezavo 
  in s tem potrdi svoje sodelovanje in svoj e-poštni naslov.

  [povezava]

  Po potrditvi, prosimo počakaj na nadaljna navodila, ki bodo prišla na ta e-poštni nalov.

  V kolikor imaš dodatna vprašanja ali pa želis spremeniti svoje ime ali e-poštni naslov
  prosimo piši organizatorju/ki na naslov (nastja@email.si).
          </pre>
      </div>
    </div>


    <h3>(2) Pošlji povezave za pisma želja</h3>
    <div class="half-pages">
      <div>
        <button mat-raised-button [class.already-done]="admin.alreadySentAllWishLinks" (click)="sendAllWishLinks()"> 
          <mat-icon>mail_outline</mat-icon> Pošlji vsem: Povezava za pismo 
        </button>
        <mat-icon *ngIf="!areAllMailValidated()" class="mark-circle">highlight_off</mat-icon>
        <mat-icon *ngIf="admin.alreadySentAllWishLinks" class="check-circle">check_circle_outline</mat-icon>
      </div>
      <div>
        <h4>Vzorec</h4>
        <pre>
  Pozdravljen/a, Nusa!

  Povabljen/a si na sodelovanje v Božičnem žrebu za igro Skrivni Božiček. 
  Izpolni svojo željo na tem naslovu (klikni na povezavo): 

  [povezava]

  Skupna cena želja naj bo v okolici 50€. 
  Prosim odpri to povezavo v Firefox ali Chromu na računalniku (ostalo morda ne bo delovalo pravilno)! 
  Ko bodo vsi izpolnili svoje želje, bodo le-te naključno razdeljene med skrivne božičke. 
  V primeru težav se obrni na svojega organizatorja/ico: Nastja (nastja@email.si)"
        </pre>
      </div>
    </div>


    <h3>(3) Zamešaj udeležence in razdeli v pare darovalec-prejemnik</h3>
    <div>
      <button mat-raised-button [class.already-done]="chain !== null" (click)="makeChain()">
        <mat-icon>link</mat-icon> Ustvari pare
      </button>
      <button mat-raised-button (click)="showChain()">
        <mat-icon>visibility</mat-icon> Pokaži pare
      </button>
      <mat-icon *ngIf="chain !== null" class="check-circle">check_circle_outline</mat-icon>
    </div>


    <h3>(4) Razpošlji pisma želja</h3>
    <div class="half-pages">

      <div>
        <button mat-raised-button [class.already-done]="admin.alreadySentAllTargetGiftMessages" (click)="sendAllTargetGiftMessages()">
          <mat-icon>mail_outline</mat-icon> Pošlji vsem: Pismo prejemnika 
        </button>
        <mat-icon *ngIf="!areAllLettersWritten()" class="mark-circle">highlight_off</mat-icon>
        <mat-icon *ngIf="admin.alreadySentAllTargetGiftMessages" class="check-circle">check_circle_outline</mat-icon>
      </div>
      <div>
        <h4>Vzorec</h4>
        <pre>
  Izbran/a si bil/a kot skrivni božiček za osebo: Nastja!" 
  (Okvirna cena daril je v okolici 50€)
  
  Ta oseba si je za Božič zaželela:
  
  Dragi Božiček!
  Za Božič si letos želim:

  [želja]
  
  Ter še kakšno manjše presenečenje!
  Z najlepšimi željami, Nastja
        </pre>
      </div>
    </div>

    <!-- 
    <button mat-raised-button (click)="adminService.sampleEmail()">
      <mat-icon>mail_outline</mat-icon> Pošlji Samlpe 
    </button>
     -->

  </div>

</div>
