
<div *ngIf="admin !== null">

  <div class="logged-in">
    <p>Prijavljen/a kot: <strong>{{authenticationService.user}}</strong></p>
    <button mat-raised-button (click)="logout()">Odjava</button>
  </div>


  <div class="margined">

    <h1>Administracija</h1>

    <form id="admin-email-form" [formGroup]="adminEmailForm" *ngIf="!admin.email">

      <mat-form-field appearance="standard">
        <mat-label>Administratorjeva e-pošta</mat-label>
        <input matInput placeholder="E-pošta" formControlName="emailFormControl">
        <mat-error *ngIf="adminEmailForm.get('emailFormControl').hasError('email')
                          && !adminEmailForm.get('emailFormControl').hasError('required')">
          E-poštni naslov ni veljaven
        </mat-error>
        <mat-error *ngIf="adminEmailForm.get('emailFormControl').hasError('required')">
          E-poštni naslov je nujen
        </mat-error>
      </mat-form-field>
      <button mat-raised-button [disabled]="!adminEmailForm.valid" (click)="submitAdminEmail()"> Administratorjeva e-pošta </button>
    </form>


    <app-participants [adminId]="admin.id"></app-participants>

    <br />


    <h2>Koraki Skrivnega božička</h2>


    <h3>(1) Potrdi udeležence</h3>
    <div class="half-pages">
      <!-- <mat-form-field>
        <mat-label>Predloga: Potrdilno sporočilo</mat-label>
        <textarea matInput
                  id="template-validation"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"></textarea>
      </mat-form-field> -->
      <div>
        <button mat-raised-button [class.already-done]="admin.alreadySentAllEmailValidation" (click)="sendAllEmailValidation()">
          <mat-icon>mail_outline</mat-icon> Pošlji vsem: Potrdilno sporočilo
        </button>
        <mat-icon *ngIf="admin.alreadySentAllEmailValidation" class="check-circle">check_circle_outline</mat-icon>
      </div>
      <div>
          <h4>Vzorec {{templateValidation.subject}}</h4>
          <div class="template" [innerHTML]="templateValidation.content"></div>
      </div>
    </div>


    <h3>(2) Pošlji povezave za pisma želja</h3>
    <div class="half-pages">
      <div>
        <button mat-raised-button [class.already-done]="admin.alreadySentAllWishLinks" (click)="sendAllWishLinks()">
          <mat-icon>mail_outline</mat-icon> Pošlji vsem: Povezava za pismo
        </button>
        <mat-icon *ngIf="!areAllMailValidated()" class="mark-circle">highlight_off</mat-icon>
        <mat-icon *ngIf="admin.alreadySentAllWishLinks" class="check-circle">check_circle_outline</mat-icon>
      </div>
      <div>
        <h4>Vzorec {{templateWishInvitation.subject}}</h4>
        <div class="template" [innerHTML]="templateWishInvitation.content"></div>
      </div>
    </div>


    <h3>(3) Zamešaj udeležence in razdeli v pare darovalec-prejemnik</h3>
    <div>
      <button mat-raised-button [class.already-done]="chain !== null" (click)="makeChain()">
        <mat-icon>link</mat-icon> Ustvari pare
      </button>
      <button mat-raised-button (click)="showChain()">
        <mat-icon>visibility</mat-icon> Pokaži pare
      </button>
      <mat-icon *ngIf="chain !== null" class="check-circle">check_circle_outline</mat-icon>
    </div>


    <h3>(4) Razpošlji pisma želja</h3>
    <div class="half-pages">

      <div>
        <button mat-raised-button [class.already-done]="admin.alreadySentAllTargetGiftMessages" (click)="sendAllTargetGiftMessages()">
          <mat-icon>mail_outline</mat-icon> Pošlji vsem: Pismo prejemnika
        </button>
        <mat-icon *ngIf="!areAllLettersWritten()" class="mark-circle">highlight_off</mat-icon>
        <mat-icon *ngIf="admin.alreadySentAllTargetGiftMessages" class="check-circle">check_circle_outline</mat-icon>
      </div>
      <div>
        <h4>Vzorec {{templateTargetGift.subject}}</h4>
        <div class="template" [innerHTML]="templateTargetGift.content"></div>
      </div>
    </div>

  </div>

</div>
